<!DOCTYPE html>
<html lang="en">
<head>
    <base href="<%- domain %>"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Programming</title>
    <link rel="stylesheet" href="./css/layout.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./scripts/web3.min.js"></script>
    <script src="./js/process.js"></script>
</head>
<body>

    <div id="header">
        <button id="btn_connect_MM">Connect Meta Mask</button>
        <h3 id="address">...</h3>
        <h3><span id="balance"></span> ETH</h3>
        <h1><span id="total" style="color:blue;"></span> ETH</h1>
    </div>

    <div id="installMM">
        Please install Meta Mask
    </div>

    <div id=frmDeposit>
        <input type="text" id="txtAmount" placeholder="0.0 ETH"/>
        <input type="text" id="txtUsername" placeholder="Your name"/>
        <button id="btnDeposit">Deposit</button>
    </div>

    <div id="members">
        <table id="list" width="700px">
            <tr>
                <td>Address</td>
                <td>Name</td>
                <td>ETH</td>
            </tr>
        </table>
    </div>

</body>
</html>